<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="./partials/css/">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <%-include('../partials/style')  %>
    </head>

    <body>
        <%- include('../partials/navbar.ejs') %> 
        <div style="padding-left:16px" class="content-container" style="display: flexbox;">
            <div style="display: flexbox; flex: 1;">
                <p style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; font-size: 25px;">Create New Account</p>
            </div>
            <div style="flex: 1;">
            <h4><%= message ? message : "" %> </h4>
            <div class="row">
                <form class="col s12" method="POST">
                  <div class="row">
                    <div class="input-field col s6">
                      <input placeholder="First Name" name="first_name" id="first_name" type="text" class="validate">
                      <label for="first_name">First Name</label>
                    </div>
                    <div class="input-field col s6">
                      <input placeholder="last Name" name="last_name" id="last_name" type="text" class="validate">
                      <label for="last_name">Last Name</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s12">
                      <input placeholder="Username" name="username" id="disabled" type="text">
                      <label for="username">Username</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s12">
                        <input type="text" class="datepicker" placeholder="Birthdate" name="birthdate">
                      <label for="email">Birthdate</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s12">
                      <input id="email" type="text" name="email" placeholder="Email">
                      <label for="email">Email</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s12">
                      <input id="password" type="password" name="password" placeholder="Password">
                      <label for="password">Password</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s12">
                      <input id="confirmpassword" type="password" name="confirmpassword" placeholder="Confirm Password">
                      <label for="confirmpassword">Confirm Password</label>
                    </div>
                  </div>
                  <button class="btn waves-effect waves-light" type="submit" name="action">Submit</button><a class="btn waves-effect waves-light" href="/home">Cancel</a>
                </form>
              </div>
            </div>
        </div>
        <script
        src="https://code.jquery.com/jquery-3.5.0.min.js"
        integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ="
        crossorigin="anonymous">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <%- include('../partials/function.ejs') %> 
        <%- include('../partials/datepicker.ejs') %> 
    </body>
</html>